<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../main.css">
</head>
<body>
    <% for (var i=0; i < data.length; i++) { %>
        <section class="test">
            <div>
                <div>Nom du Module</div>
                <%= data[i].module %>
            </div>
            <div>
                <div>Température</div>
                <%= data[i].temp %>
            </div>
            <div>
                <div>Vitesse</div>
                <%= data[i].id %>
            </div>
        </section>
    <% } %>
</body> 
</html>